<p><h3>Чатная комната.</h3></p>
<p>Чатная комната скоро заработает.</p>
<form >
  <div class="form-group">
    <label>Введите Ваш ник</label>
    <input type="text" name="nikname" class="form-control"  placeholder="Your Nikname">
  </div>
  <div class="form-group">
	<label>Выберите цвет сообщения</label>
	<p><select name="colorpicker">
	  <option value="#7bd148">Green</option>
	  <option value="#5484ed">Bold blue</option>
	  <option value="#a4bdfc">Blue</option>
	  <option value="#46d6db">Turquoise</option>
	  <option value="#7ae7bf">Light green</option>
	  <option value="#51b749">Bold green</option>
	  <option value="#fbd75b">Yellow</option>
	  <option value="#ffb878">Orange</option>
	  <option value="#ff887c">Red</option>
	  <option value="#dc2127">Bold red</option>
	  <option value="#dbadff">Purple</option>
	  <option value="#e1e1e1">Gray</option>
	</select></p>
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>

<script type="text/javascript">
	$('select[name="colorpicker"]').simplecolorpicker();
</script>