<p><h3>Наши контакты.</h3></p>
<p>Наши контакты пока засекречены.</p>
<p>Но вы можете  оставить нам сообщение, для этого:</p>
<form action="/contacts" method="POST">
  <div class="form-group">
    <label >Укажите свой e-mail</label>
    <input type="email" class="form-control" name="mess[email]" placeholder="Введите ваш email" value="<%=@c.email%>">
    <small id="emailHelp" class="form-text text-muted">Мы не будем использовать Ваш email где нибудь ещё.</small>
  </div>
  <div class="form-group">
    <label>Ваше сообщение</label>
    <textarea class="form-control" name="mess[message]" rows="3" ><%=@c.message%></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Отправить сообщение</button>
</form>
