<p><h3>Просмотр записей БД.</h3></p>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Adress</th>
			<th scope="col">Email</th>
		</tr>
	</thead>
	<tbody>
	<%@res_db.each do |res|%>
		<tr>
			<td><%=res['id']%></td>
			<td><%=res['username']%></td>
			<td><%=res['adres']%></td>
			<td><%=res['email']%></td>
		</tr>
	<%end%>	
	</tbody>
</table>

