<table class='table'>
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Adress</th>
			<th scope="col">Email</th>
		</tr>
	</thead>
<%@res_db.each do |res|%>
	<tr>
		<td><%=res['id']%></td>
		<td><%=res['username']%></td>
		<td><%=res['adres']%></td>
		<td><%=res['email']%></td>
	</tr>
<%end%>	
</table>

