<p><h3>Заказ пиццы.</h3></p>
<p>Добро пожаловать, здесь вы можете сделать заказ.</p>

<form action="/zakaz" method="POST">
  <div class="form-group">
    <label>Введите Ваше имя</label>
    <input type="text" name="username" class="form-control"  placeholder="Фамилия Имя">
  </div>
  <div class="form-group">
    <label>Введите Ваш адрес</label>
    <input type="text" name="adres" class="form-control"  placeholder="Ваш адрес">
  </div>
  <div class="form-group">
    <label>Введите Ваш Email</label>
    <input type="email" name="email_name" class="form-control" placeholder="Ваш email">
    <small id="emailHelp" class="form-text text-muted">Мы не будем использовать Ваш email где нибудь ещё.</small>
  </div>
 

  <button type="submit" class="btn btn-primary">Отправить заказ</button>
</form>